body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.personal-information {
  background-color: white;
  background-image: url(images/Headerbg@2x.png);
  background-attachment: fixed;
  background-position: right;
}

.logo-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 20px;
  text-align: left;
  color: #6070ff;
}

.hamburger-icon {
  text-align: right;
  color: #6070ff;
  float: right;
  position: relative;
  top: -30px;
  right: 35px;
}

.header {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.name {
  font-size: 40px;
  font-style: normal;
  font-weight: bolder;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 25%;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-left: 5%;
  margin-right: 5%;
}

.connect {
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.icons-list {
  color: #505f79;
  list-style-type: none;
  margin-top: 5%;
  margin-left: -5%;
}

.icons-list li {
  display: inline-block;
  margin-right: 5%;
}

/** here we start the second milestone **/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-top: 25%;
  margin-bottom: 25%;
}

.middle {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 1rem;
}

.middle-images {
  order: -1;
  align-self: center;
  margin-top: 5%;
}

.middle-h1 {
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 8%;

  /* Inside Auto Layout
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;  */
}

.middle-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #344563;
  margin-left: 8%;

  /* Inside Auto Layout
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;  */
}

.button-see-project {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  border-radius: 0.5rem;
  width: 125px;
  height: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8%;

  /* Inside Auto Layout
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px; */
}

.html-button,
.css-button,
.js-button {
  color: #6070ff;
  background: #ebebff;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  height: 24px;
  margin-right: 5%;

  /* Inside Auto Layout
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px; */
}

.html-button {
  width: 53px;
}

.css-button {
  width: 45px;
}

.js-button {
  width: 89px;
}

.middle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8%;
}

.canopy {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: baseline;
  margin-left: 8%;
}

.canopy img {
  width: 10px;
  height: 10px;
  margin-right: 3%;
}

.canopy-1 {
  margin-right: 3%;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563

  /* Inside Auto Layout
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;  */
}

.canopy-2 {
  margin-right: 3%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;

  /* Inside Auto Layout
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;  */
}

.personal-information-2 {
  background-color: white;
  margin-top: 125%;
  border-top-right-radius: 40%;
}

.button-resume {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  border-radius: 0.5rem;
  width: 155px;
  height: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}