body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.personal-information {
  background-color: white;
  background-image: url(images/Headerbg@2x.png);
  background-attachment: fixed;
  background-position: right;
}

.logo-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 20px;
  text-align: left;
  color: #6070ff;
  margin-left: 5%;
}

.hamburger-icon {
  text-align: right;
  color: #6070ff;
  float: right;
  position: relative;
  top: -30px;
  right: 35px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding-top: 10px;
  margin-bottom: -10%;
}

.name {
  font-size: 40px;
  font-style: normal;
  font-weight: bolder;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 25%;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-left: 5%;
  margin-right: 5%;
}

.connect {
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.icons-list {
  color: #505f79;
  list-style-type: none;
  margin-top: 5%;
  margin-left: -5%;
}

.icons-list li {
  display: inline-block;
  margin-right: 5%;
}

/** here we start the second milestone **/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-top: 25%;
  margin-bottom: 25%;
}

.middle {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 1rem;
}

.middle-images {
  order: -1;
  align-self: center;
  margin-top: 5%;
}

.middle-h1 {
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 8%;
}

.middle-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #344563;
  margin-left: 8%;
}

.button-see-project {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  border-radius: 0.5rem;
  width: 125px;
  height: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8%;
}

.html-button,
.css-button,
.js-button {
  color: #6070ff;
  background: #ebebff;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  height: 24px;
  margin-right: 1rem;
}

.html-button {
  width: 53px;
}

.css-button {
  width: 45px;
}

.js-button {
  width: 89px;
}

.middle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -0.6rem;
}

.canopy {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: baseline;
  margin-left: -2%;
}

.canopy-1 {
  margin-right: 8%;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.canopy-2 {
  margin-right: 8%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.personal-information-2 {
  background-color: white;
  margin-top: 125%;
  border-top-right-radius: 10%;
}

.button-resume {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  border-radius: 0.5rem;
  width: 155px;
  height: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.langguages-section {
  margin-left: -1rem;
}

.langguages {
  display: flex;
  align-items: center;
}

.langguages > h1 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 7rem;
}

.langguages > i {
  color: #acb7c3;
}

.langguages-2 > h1 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 11.65rem;
}

.x {
  margin-bottom: 30%;
}

.langguages-border {
  border-bottom: 1px solid #dfe1e6;
}

.grid-container-2 {
  display: grid;
  grid-gap: 1rem;
  margin: 2rem 3rem 2rem 0;
}

.langguage-box {
  background: #f7f7f9;
  border-radius: 0.7rem;
}

.flex {
  display: flex;
}

.langguage-box > img {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.grid-container-3 {
  background-color: #6070FF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 0 24px;
}

.grid-container-3 h2 {
  margin-top: 103px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.grid-container-3 p{
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
}

.grid-container-3 form{
  display: flex;
  flex-direction: column;
}

.grid-container-3 form label{
  width: 100%;
  margin-bottom: 20px;
}

.grid-container-3 form label input{
  width: 100%;
}

.grid-container-3 form label textarea{
  width: 100%;
}

.grid-container-3 form label button{
  width: 140px;
}